In [1]:
import pandas as pd
athletes = pd.read_csv("athletes.csv")
data = athletes[['Gold Medal', 'Silver Medal', 'Bronze Medal', 'Total']]
data.head()

,Rank,Team/NOC,Gold Medal,Silver Medal,Bronze Medal,Total,Rank by Total,NOCCode,Continent
0,1,United States of America,39,41,33,113,1,USA,North America
1,2,People's Republic of China,38,32,18,88,2,CHN,Asia
2,3,Japan,27,14,17,58,5,JPN,Asia
3,4,Great Britain,22,21,22,65,4,GBR,Europe
4,5,ROC,20,28,23,71,3,ROC,Europe/Asia

In [ ]:
teams = teams[["team"]]
teams.corr()["Total"]